.nav a {
  color: #7a7c7d;
}
.nav a:hover {
  color: #7a7c7d;
  text-decoration: none;
  font-weight: bolder;
}
.nav {
  background-color: rgb(28, 32, 34);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
}

.nav-tabs .nav-link {
  border-bottom: 5px solid transparent !important;
}
.nav-tabs .nav-link:hover {
  border-bottom: 5px solid #37a2eb !important;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #f5f7fa;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs {
  border-bottom: 1px solid transparent !important;
}
.hfaVTK {
  display: inline;
  height: 22px;
  border-top-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-style: none solid none none;
  border-image: initial;
  margin-left: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.ulStyle {
  font-family: Nunito, -webkit-pictograph;
  display: flex;
  /* temporary disabeled */
  position: fixed;
  z-index: 1;
  -webkit-box-pack: justify;
  /* justify-content: space-between; */
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(28, 32, 34);
  font-size: 1.2rem;
  color: rgb(204, 204, 204);
  height: 3rem;
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  flex: 0 0 3rem;
  border-bottom: 1px solid rgb(17, 21, 24);
}
