.nav a {
  color: #7a7c7d;
}
.nav a:hover{
  color: #7a7c7d;
  text-decoration: none;
  font-weight: bolder;
}
.nav {
  background-color: rgb(28, 32, 34);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #787c7d;
}

.hfaVTK {
  display: inline;
  height: 22px;
  border-top-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-style: none solid none none;
  border-image: initial;
  margin-left: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
