.czADsK {
  position: fixed;
  top: 46px;
  bottom: 22px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 3.5rem;
  height: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(28, 32, 34);
  flex: 0 0 3.5rem;
}

.hjAeFz {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.875rem;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.hjAeFz:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.hjAeFz:hover {
  color: rgb(255, 255, 255);
}
